@import '../ui/typography.module.scss';
@import '../theme.module.scss';
.sectionPolicy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white-color;
  .header {
    background-color: $white-light-gray-color;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;

    .headerSubtitle {
      color: $primary-color;
      @extend %body1;
    }
    .headerTitle {
      color: $primary-color;
    }
  }
  .title {
    color: $primary-color;
    margin-bottom: 32px;
  }
  .subtitle {
    color: $primary-color;
    margin: 32px 0px 24px 0px;
    width: 714px;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 128px 0px;
    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .description {
      width: 768px;
      @extend %body1;
      color: $dark-gray-color;
    }
  }
}
