.wrapper {
  padding: 128px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    .title {
      color: $primary-color;
      @media (max-width: $tablet) {
        font-size: 26px;
        line-height: 32px;
      }
    }
    .wrapperCards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
      @media (max-width: $laptopM) {
        gap: 20px;
      }
      @media (max-width: $tablet) {
        padding: 10px;
      }
    }
    @media (max-width: $tablet) {
      gap: 15px;
    }
  }
  @media (max-width: $tablet) {
    padding: 20px;
  }
}
