.dropDownWrapper {
  position: relative;

  @include ui-width(192);

  .selectedValue {
    @include ui-height(19);
    width: 100%;

    border-radius: 2px;
    border: 1px solid $dark-gray-color;

    @include body1($primary-color);
    background-color: $white-color;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 24px;

    cursor: pointer;

    &:focus {
      border: 2px solid $primary-color;
    }

    @media #{$ui-tablet} {
      width: 100%;
      font-size: 14px;
      padding: 18px;
      @include ui-height(16);
    }

    @media #{$ui-mobileL} {
      padding: 15px;
      @include ui-height(15);
    }
  }

  .list {
    position: absolute;
    left: 0;
    top: 76px;

    width: 100%;
    max-height: 0px;

    z-index: $ui-index-main;

    background-color: $white-color;

    transition: height 0.1s;
    overflow-y: scroll;
    scrollbar-width: none;

    padding: 0;
    margin: 0;

    border: none;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    .itemList {
      @include body1($primary-color);

      padding: 5px 0px 5px 25px;

      border-bottom: 1px solid $white-dark-gray-color;
      cursor: pointer;
      transition: background-color 0.1s;

      &:hover {
        @media #{$ui-mouse-device} {
          background-color: $white-light-gray-color;
        }
      }

      @media #{$ui-tablet} {
        padding: 3px 0px 3px 18px;
        font-size: 14px;
      }

      @media #{$ui-mobileL} {
        padding: 2px 0px 2px 15px;
        font-size: 13px;
      }
    }

    @media #{$ui-tablet} {
      top: 65px;
    }

    @media #{$ui-mobileL} {
      top: 60px;
    }
  }

  .listActive {
    max-height: 180px;
    border: 1px solid $dark-gray-color;
  }

  @media #{$ui-tablet} {
    width: 100%;
  }
}
