@mixin buttonTheme($color: $secondary-color, $hover: #edc14a) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 48px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  outline: none;
  background-color: $color;
  color: $primary-color;
  transition: background-color 0.2s;
  &:hover {
    cursor: pointer;
    background-color: $hover;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
.primary {
  @include buttonTheme;
  @media (max-width: $laptopM) {
    padding: 12px 30px;
    font-size: 16px;
  }
  @media (max-width: $tablet) {
    padding: 10px 25px;
    font-size: 15px;
  }
}
.secondary {
  @include buttonTheme($color: $white-color, $hover: $white-light-gray-color);
  @media (max-width: $laptopM) {
    padding: 12px 30px;
    font-size: 16px;
  }
}
.formPrimary {
  @include buttonTheme;
  padding: 16px 0px;
  width: 768px;
  font-size: 24px;
  line-height: 32px;
}
