@import '../ui/typography.module.scss';
@import '../theme.module.scss';

.inputWrapper {
  position: relative;
  .contactInput {
    width: 768px;
    padding: 24px;
    border-radius: 2px;
    border: 1px solid $dark-gray-color;
    @extend %body1;
    color: $primary-color;
    &::placeholder {
      color: $primary-color;
    }
  }
  .contactTextArea {
    height: 144px;
    resize: none;
  }
  .errorMessage {
    position: absolute;
    bottom: -22px;
    z-index: 2;
    left: 7px;
    @extend %body1;
    font-size: 14px;
    color: #ff0000;
  }
}
