@import '../ui/typography.module.scss';
@import '../theme.module.scss';

.dropDownWrapper {
  position: relative;
  width: 768px;
  .selectedValue {
    border-radius: 2px;
    border: 1px solid $dark-gray-color;
    @extend %body1;
    color: $primary-color;
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    height: 76px;
    width: 100%;
    cursor: pointer;
    &:focus {
      border: 2px solid $primary-color;
    }
  }
  .list {
    width: 100%;
    z-index: 2;
    position: absolute;
    background-color: $white-color;
    max-height: 0px;
    transition: height 0.1s;
    overflow-y: scroll;
    scrollbar-width: none;
    left: 0;
    padding: 0;
    margin: 0;
    top: 76px;
    border: none;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    .itemList {
      color: $primary-color;
      @extend %body1;
      padding: 3px 0px 3px 24px;
      border-bottom: 1px solid $white-dark-gray-color;
      cursor: pointer;
      transition: background-color 0.1s;
      &:hover {
        background-color: $white-light-gray-color;
      }
    }
  }
  .listActive {
    max-height: 180px;
    border: 1px solid $dark-gray-color;
  }
}
