@import '../colors.module.scss';

.header {
  padding: 0px 80px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  height: 80px;
  .title {
    color: $white-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}
