$ui-mouse-device: '(hover: hover) and (pointer: fine)';

$ui-mobileS: '(max-width: 320px)';
$ui-mobileM: '(max-width: 375px)';
$ui-mobileL: '(max-width: 480px)';
$ui-tablet: '(max-width: 780px)';
$ui-laptop: '(max-width: 1040px)';
$ui-laptopM: '(max-width: 1120px)';
$ui-laptopL: '(max-width: 1460px)';
