@import './typography.module.scss';
@import '../colors.module.scss';

.list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  .link {
    @extend %body1;
    color: $white-color;
    text-decoration: none;
    transition: color 0.2s;
    &:hover {
      color: $light-gray-color;
    }
  }
  .active {
    color: $secondary-color;
    font-weight: 700;
  }
}
