@import '../ui/typography.module.scss';
@import '../colors.module.scss';

.postCardArticleDefault {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 1146px;
  height: 318px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: $white-light-gray-color;
  }
  .image {
    height: 100%;
    width: 40%;
  }
  .infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .tags {
      @extend %cap;
      color: $third-color;
    }
    .title {
      color: $primary-color;
      margin: 20px 0px 16px 0px;
    }
    .description {
      @extend %body1;
      color: $light-gray-color;
    }
  }
}
.postCardArticleMedium {
  width: 1024px;
}
.postCardArticleSmall {
  width: 850px;
}
