%body1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: var(--font-inter);
}
%body2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: var(--font-inter);
}
%display {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}
%label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
%cap {
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font-inter);
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.parag1 {
  @extend %body1;
}
.parag2 {
  @extend %body2;
}
