.missionVisionSection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 128px 108px 64px 108px;
  background-color: $white-dark-gray-color;
  width: 100%;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
    .infoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      .subtitle {
        color: $primary-color;
        @extend %cap;
        @media (max-width: $tablet) {
          text-align: center;
        }
        @media (max-width: $mobileL) {
          font-size: 15px;
        }
      }
      .title {
        color: $primary-color;
        width: 100%;
        max-width: 480px;
        margin: 24px 0px 16px 0px;
        @media (max-width: $laptopM) {
          font-size: 23px;
          line-height: 30px;
          margin: 16px 0px 10px 0px;
        }
        @media (max-width: $tablet) {
          text-align: center;
        }
        @media (max-width: $mobileL) {
          font-size: 20px;
          line-height: 25px;
        }
      }
      .description {
        max-width: 516px;
        width: 100%;
        @extend %body1;
        color: $light-gray-color;
        @media (max-width: $laptopM) {
          font-size: 14px;
        }
        @media (max-width: $tablet) {
          text-align: center;
        }
        @media (max-width: $mobileL) {
          font-size: 13px;
        }
      }
      @media (max-width: $tablet) {
        width: 75%;
        align-items: center;
        justify-content: center;
      }
      @media (max-width: $mobileL) {
        width: 77%;
      }
      @media (max-width: $mobileM) {
        width: 85%;
      }
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: $laptopM) {
    padding: 60px 40px 40px 40px;
  }
  @media (max-width: $tablet) {
    padding: 25px;
  }
  @media (max-width: $mobileL) {
    padding: 20px 10px;
  }
}
