.wrapper {
  padding-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    align-items: center;
    gap: 86px;

    .wrapperInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .subtitle {
        @extend %body2;
        color: $light-gray-color;
      }
      .title {
        color: $light-gray-color;
      }
      @media (max-width: $laptopM) {
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
    }
    .wrapperLogos {
      display: flex;
      align-items: center;
      gap: 75px;
      .logoIcon {
        width: 100%;
        max-width: 130px;
        height: 32px;
      }
      @media (max-width: $laptopL) {
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    @media (max-width: $laptopL) {
      gap: 40px;
    }
    @media (max-width: $laptopM) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
