@keyframes scroll {
  100% {
    transform: rotate(360deg);
  }
}

.infinityScroll {
  display: block;
  display: flex;
  align-self: center;
  justify-self: center;
  height: 35px;
  width: 35px;
  border: 4px solid $white-dark-gray-color;
  border-radius: 50%;
  border-right-color: $third-color;
  animation: scroll 1s infinite;
}
