@import '../ui/typography.module.scss';
@import '../colors.module.scss';

.headerSection {
  width: 768px;
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-bottom: 64px;

  .userWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    .userInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .userTitle {
        color: $third-color;
      }
      .userSubtitle {
        color: $light-gray-color;
        @extend %body1;
      }
    }
  }
  .title {
    color: $primary-color;
  }
  .categoryWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    .categoryTitle {
      color: $primary-color;
    }
  }
}
