@import '../ui/typography.module.scss';
@import '../theme.module.scss';
.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  .image {
    margin-bottom: 12px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 840px;

    .article {
      margin-top: 48px;
      gap: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title {
        color: $primary-color;
      }
      .description {
        color: $light-gray-color;
      }
      .list {
        color: $dark-gray-color;
        list-style: disc;
        padding: 0;
        margin-left: 15px;
      }
    }
  }
}
