@import '../ui/typography.module.scss';
@import '../theme.module.scss';
.postsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  .title {
    color: $primary-color;
  }
  .wrapperPosts {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    min-width: 1280px;
  }
}
