$primary-color: #232536;
$secondary-color: #ffd050;
$third-color: #592ea9;
$dark-gray-color: #4c4c4c;
$light-gray-color: #6d6e76;
$white-dark-gray-color: #f4f4f4;
$white-light-gray-color: #f4f0f8;
$white-pink-color: #fbf6ea;
$white-color: #ffffff;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  thirdColor: $third-color;
  darkGrayColor: $dark-gray-color;
  lightGrayColor: $light-gray-color;
  whiteDarkGrayColor: $white-dark-gray-color;
  whiteLightGrayColor: $white-light-gray-color;
  whitePinkColor: $white-pink-color;
  whiteColor: $white-color;
}
