.footer {
  background-color: $primary-color;
  padding: 59px 80px 56px 80px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .header {
      height: 85px;
      display: flex;
      width: 100%;
      align-items: flex-start;
      justify-content: space-between;
      .title {
        color: $white-color;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
      }
    }
    .submitWrapper {
      width: 100%;
      height: 256px;
      background: #2e3040;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 64px 0px 64px;
      gap: 64px;
      .subtitle {
        color: $white-color;
        max-width: 562px;
        letter-spacing: 1px;
        @media (max-width: $laptopL) {
          font-size: 30px;
          line-height: 35px;
        }
        @media (max-width: $laptopM) {
          font-size: 25px;
          line-height: 25px;
        }
        @media (max-width: $tablet) {
          font-size: 20px;
        }
        @media (max-width: $mobileL) {
          font-size: 18px;
        }
      }
      .submitForm {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 24px;
        @media (max-width: $tablet) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      .inputWrapper {
        position: relative;
        .input {
          width: 323px;
          height: 56px;
          padding: 14px 10px 14px 25px;
          background-color: inherit;
          outline: none;
          border: 1px solid $dark-gray-color;
          @extend %body1;
          color: $white-color;
          &::placeholder {
            color: $light-gray-color;
          }
          &:focus {
            border: 2px solid $white-color;
          }
          @media (max-width: $tablet) {
            height: 47px;
            width: 290px;
          }
          @media (max-width: $mobileL) {
            height: 40px;
            width: 275px;
            font-size: 14px;
          }
        }
        .errorMessage {
          position: absolute;
          bottom: -30px;
          left: 7px;
          @extend %body1;
          font-size: 16px;
          color: #ff0000;
          @media (max-width: $tablet) {
            font-size: 14px;
          }
        }
      }
      .btnWrapper {
        position: relative;
        .loader {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      @media (max-width: $laptopM) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
      }
      @media (max-width: $tablet) {
        padding: 0px 20px;
      }
      @media (max-width: $mobileL) {
        padding: 0px 10px;
      }
    }

    .contactsWrapper {
      height: 104px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .socialWrapper {
        display: flex;
        gap: 26px;
        align-items: center;
        margin-bottom: 28px;
        .socialLink {
          transition: transform 0.2;
          filter: invert(48%) sepia(10%) saturate(281%) hue-rotate(196deg) brightness(85%) contrast(85%);
          &:hover {
            transform: scale(1.1);
          }
        }
        @media (max-width: $tablet) {
          margin-bottom: 18px;
        }
      }
      .contactsInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .contact {
          @extend %body1;
          color: $light-gray-color;
          @media (max-width: $tablet) {
            font-size: 14px;
          }
        }
      }
      @media (max-width: $mobileL) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
      }
    }
  }

  @media (max-width: $tablet) {
    padding: 30px;
  }
}
