.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: $modal;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .close {
      position: absolute;
      right: -35px;
      top: -35px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      transition: background-color 0.2s;
      background-color: $white-color;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: $light-gray-color;
      }
    }
  }
}
