@import '../ui/typography.module.scss';
@import '../theme.module.scss';
.header {
  display: flex;
  padding: 80px;
  width: 100%;
  background-color: $white-light-gray-color;
  align-items: flex-start;
  justify-content: center;
  gap: 141px;
  .infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .subtitle {
      color: $primary-color;
      @extend %cap;
    }
    .title {
      color: $primary-color;
      width: 624px;
      margin: 20px 0px 16px 0px;
    }
    .authorInfo {
      @extend %label;
      color: $dark-gray-color;
      .markAuthor {
        color: $third-color;
      }
    }
    .description {
      color: $light-gray-color;
      @extend %body1;
      width: 624px;
      margin: 16px 0px 32px 0px;
    }
  }
}
