@import '../ui/typography.module.scss';
@import '../colors.module.scss';

.wrapper {
  padding-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    align-items: center;
    gap: 86px;
    .wrapperInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .subtitle {
        @extend %body2;
        color: $light-gray-color;
      }
      .title {
        color: $light-gray-color;
      }
    }
    .wrapperLogos {
      display: flex;
      align-items: center;
      gap: 75px;
      .logoIcon {
        width: 100%;
        height: 32px;
      }
    }
  }
}
