@import '../ui/typography.module.scss';
@import '../colors.module.scss';

.missionVisionSection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 128px 108px 64px 108px;
  background-color: $white-dark-gray-color;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    .infoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .subtitle {
        color: $primary-color;
        @extend %cap;
      }
      .title {
        color: $primary-color;
        width: 464px;
        margin: 24px 0px 16px 0px;
      }
      .description {
        width: 516px;
        @extend %body1;
        color: $light-gray-color;
      }
    }
  }
}
