@import '../ui/typography.module.scss';
@import '../theme.module.scss';

.overviewSection {
  width: 1288px;
  height: 444px;
  position: relative;
  background-image: url('/images/aboutUsOverview.png');
  background-size: cover;
  background-repeat: no-repeat;
  .overviewWrapper {
    position: absolute;
    left: 109px;
    bottom: 23px;
    padding: 32px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    gap: 68px;
    .resultWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title {
        @extend %display;
        color: $primary-color;
      }
      .subtitle {
        @extend %body1;
        color: $primary-color;
      }
    }
  }
  .designWrapper {
    position: absolute;
    bottom: 0px;
    left: 109px;
    display: flex;
    width: 861px;
    align-items: center;
    .first {
      width: 36%;
      background-color: $third-color;
      height: 23px;
    }
    .second {
      width: 64%;
      background-color: $secondary-color;
      height: 23px;
    }
  }
}
