@import '../ui/typography.module.scss';
@import '../colors.module.scss';

.whyStartedSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 37px;
  margin-bottom: 91px;
  .content {
    display: flex;
    align-items: center;
    gap: 64px;
    justify-content: center;
    .imageContent {
      position: relative;
      &::before {
        content: '';
        width: 74px;
        height: 74px;
        position: absolute;
        left: 107px;
        bottom: -37px;
        border-radius: 50%;
        background-color: $third-color;
      }
    }
  }
}
