.burgerWrapper {
  display: none;
  z-index: $burgerMenu;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  border-radius: 50%;
  &:hover {
    background-color: $light-gray-color;
  }

  &::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 10px;
    width: 20px;
    background: $white-color;
    height: 2.5px;
    border-radius: 1px;
    transition:
      transform 0.2s,
      top 0.2s;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 10px;
    width: 20px;
    background: $white-color;
    height: 2.5px;
    border-radius: 1px;
    transition:
      transform 0.2s,
      bottom 0.2s;
  }

  .line {
    position: absolute;
    top: 18px;
    left: 10px;
    width: 20px;
    background: $white-color;
    height: 2.5px;
    border-radius: 1px;
    transition: transform 0.2s;
  }

  @media (max-width: $tablet) {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
  }
}
.activeWrapper {
  &::after {
    transform: rotate(-45deg);
    bottom: 18px;
  }
  &::before {
    transform: rotate(45deg);
    top: 19px;
  }
}
.activeLine {
  transform: scale(0);
}
