.cardWrapper {
  @include ui-height(57);
  @include ui-width(74);

  border: 1px solid $light-gray-color;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  transition: background-color 0.3s;

  &:hover {
    @media #{$ui-mouse-device} {
      background-color: $secondary-color;
      cursor: pointer;
      border: none;
    }
  }

  .iconWrapper {
    @include ui-height(12);
    @include ui-width(12);

    background-color: $white-pink-color;
    border-radius: 5px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    z-index: $ui-index-main;
  }

  .title {
    @include ui-margin(top, 4);
    color: $primary-color;
  }

  .description {
    @include ui-margin(top, 1);
    color: $light-gray-color;
    @include ui-width(58);
  }

  @media #{$ui-tablet} {
    @include ui-height(41);
    @include ui-width(55);
    padding: 15px;
  }

  @media #{$ui-mobileL} {
    padding: 8px;
  }
}
