@import '../ui/typography.module.scss';
@import '../colors.module.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 128px 80px 96px 80px;
  .content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
    .title {
      color: $primary-color;
    }
    .wrapperAuthors {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }
  }
}
