@import '../ui/typography.module.scss';
@import '../theme.module.scss';

.sectionPosts {
  padding: 128px 78px 128px 80px;
  background-color: $white-color;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    .postsWrapper {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 32px;
      justify-content: space-between;
      width: 1282px;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .title {
          color: $primary-color;
        }
        .link {
          color: $third-color;
          @extend %body1;
          transition: color 0.2s;
          &:hover {
            color: #351b64;
          }
        }
      }
      .allPosts {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .featuredPostsWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        .featuredPost {
          display: flex;
          flex-direction: column;
          padding: 32px;
          align-items: flex-start;
          justify-content: center;
          border: 1px solid $white-dark-gray-color;

          .info {
            @extend %label;
            margin: 32px 0px 16px 0px;
            color: $dark-gray-color;
            .infoMark {
              color: $third-color;
            }
          }
          .subtitle {
            color: $primary-color;
            width: 669px;
          }
          .description {
            color: $light-gray-color;
            margin: 16px 0px 32px 0px;
            width: 551px;
          }
        }
      }
    }
  }
}
