.headerWrapper {
  position: relative;
  width: 100%;
  height: 293px;
  .content {
    width: 1133px;
    position: absolute;
    bottom: -63px;
    left: 109px;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
    .aboutWrapper {
      background-color: $white-color;
      display: flex;
      flex-direction: column;
      padding: 64px;
      z-index: 2;
      align-items: flex-start;
      justify-content: center;
      .subtitle {
        @extend %cap;
        color: $primary-color;
        @media (max-width: $tablet) {
          font-size: 15px;
        }
        @media (max-width: $mobileL) {
          font-size: 13px;
        }
      }
      .title {
        width: 496px;
        color: $primary-color;
        @media (max-width: $laptopM) {
          width: 100%;
          font-size: 37px;
          line-height: 54px;
        }
        @media (max-width: $tablet) {
          font-size: 27px;
          line-height: 44px;
        }
        @media (max-width: $mobileL) {
          font-size: 26px;
          line-height: 38px;
        }
        @media (max-width: $mobileM) {
          font-size: 24px;
          line-height: 33px;
        }
      }
      @media (max-width: $laptopM) {
        width: 78%;
      }
      @media (max-width: $tablet) {
        padding: 24px;
        width: 85%;
      }
      @media (max-width: $mobileL) {
        padding: 10px;
        width: 90%;
      }
    }
    .description {
      width: 45%;
      @extend %body1;
      color: $dark-gray-color;
      @media (max-width: $laptopM) {
        display: none;
        width: 0%;
      }
    }
    @media (max-width: $laptopL) {
      width: 90%;
      left: 40px;
    }
    @media (max-width: $mobileL) {
      width: 100%;
      left: 0px;
    }
  }
  @media (max-width: $laptopM) {
    height: 235px;
  }
  @media (max-width: $tablet) {
    height: 160px;
  }
  @media (max-width: $mobileL) {
    height: 110px;
  }
  @media (max-width: $mobileM) {
    height: 100px;
  }
}
