.wrapperReviewCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 121px;
  width: 469px;
  .text {
    color: $primary-color;
    @media (max-width: $tablet) {
      font-size: 20px;
      line-height: 26px;
    }
    @media (max-width: $mobileL) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  .wrapperUser {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    .userIcon {
      border-radius: 50%;
    }
    .userInfoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .userName {
        color: $primary-color;
        @media (max-width: $mobileL) {
          font-size: 16px;
          line-height: 22px;
        }
      }
      .userAddress {
        @extend %body1;
        color: $light-gray-color;
        @media (max-width: $mobileL) {
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: $tablet) {
    width: 400px;
  }
  @media (max-width: $mobileL) {
    width: 320px;
  }
}
