@import '../ui/typography.module.scss';
@import '../colors.module.scss';

.categorySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .main {
    padding: 102px 76px 128px 79px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 147px;

    .postsSection {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: flex-start;
      justify-content: center;
      min-width: 832px;
      
    }
    .aside {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      min-width: 296px;
      margin-top: 42px;
      .title {
        color: $primary-color;
      }

      .categoriesWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        justify-content: center;
        .categories {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
        }
      }
    }
  }
}
