@import '../ui/typography.module.scss';
@import '../theme.module.scss';

.categoriesWrapper {
  .title {
    color: $primary-color;
    user-select: none;
  }
  .wrapper {
    display: flex;
    margin-top: 37px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    .card {
      border: 1px solid #c1c1c3;
      cursor: pointer;
      width: 296px;
      height: 100px;
      gap: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 25px 10px 25px 25px;
      outline: none;
      transition: background-color 0.3s;
      background-color: $white-color;
      .iconWrapper {
        width: 48px;
        height: 48px;
        background-color: $white-pink-color;
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .active {
      background: $secondary-color;
    }
  }
}
